body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    text-align: center;
}

.container h1 {
    color: #333;
}

label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

textarea,
input[type="text"],
input[type="file"] {
    width: calc(100% - 20px);
    padding: 10px;
    margin: 5px 0 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
    outline: none; /* Remove default outline */
    resize: none;
}

/* File Upload Container */
#file-upload-container {
    max-width: calc(100% - 40px); /* Max width 100% minus padding */
    height: 100px;
    border: 2px dashed #ccc;
    border-radius: 5px;
    margin: 10px auto;
    cursor: pointer;
    transition: background-color 0.3s ease;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#file-upload-container p {
    margin: 20px 0;
}

#file-upload-container input[type="file"] {
    display: none;
}

#file-upload-container.file-selected {
    background-color: #d6d6d6;
}

button {
    display: block;
    margin: 20px auto;
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #45a049;
}

.hidden {
    display: none;
}
